@page "/Developers/{Stub}"
@model DataGg.Web.Areas.Developers.Pages.IndexModel
@{
}

<h2>@Model.DataCategory.Name</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">API</th>
                <th scope="col">Version</th>
                <th scope="col">Description</th>
                <th scope="col">Updated</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ds in Model.DataCategory.DataSets)
            {
                <tr>
                    <td>@ds.Name</td>
                    <td>1.0</td>
                    <td>@ds.Desc</td>
                    <td>
                        @if (ds.Live)
                        {
                            <h4> <span class="badge badge-info">LIVE!</span></h4>
                        }
                        else
                        {
                            <span>@ds.CurrentDataJson.Stamp.ToString("ddd dd MMM yy")</span>
                        }
                    </td>
                    <td>
                        <h4><a href="/Developers/@Model.DataCategory.Stub/@ds.Stub/View" class="badge badge-primary">View</a></h4>
                        <h4><a href="@Url.Action($"{Model.DataCategory.Stub}{ds.Stub}", "Data")" class="badge badge-primary">Json</a></h4>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@foreach (var source in Model.DataCategory.DataSets.Select(ds => ds.Source).Distinct().ToArray())
{
    <p>Source: <a href="@source">@source</a></p>
}

